@import "../../../assets/fonts/font-icon.css";

.icons {
  max-width: 74rem;
  margin: 0 auto;
}

.icons ul {
  text-align: center;
}

.icons ul li {
  vertical-align: top;
  width: 7.5rem;
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 3px;
  padding: 1.8125rem 0 0.625rem 0;
  margin-right: 0.625rem;
  margin-top: 0.625em;
  transition: all 0.6s ease;
  color: #464646;
}

.icons ul li:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.icons ul li:hover span {
  color: #3c75e4;
  opacity: 1;
}

.icons ul li .unicode {
  color: #8c8c8c;
  opacity: 0.3;
}

.icons ul li h4 {
  font-weight: 400;
  padding: 0.625rem 0 0.3125rem 0;
  display: block;
  color: #8c8c8c;
  font-size: 0.875rem;
  line-height: 0.75rem;
  opacity: 0.8;
}

.icons ul li:hover h4 {
  opacity: 1;
}

.icons ul li svg {
  width: 1.5rem;
  height: 1.5rem;
}

.icons ul li:hover {
  color: #3c75e4;
}

.footer {
  text-align: center;
  padding: 0.625rem 0 5.625rem 0;
}

.footer a {
  text-align: center;
  padding: 0.625rem 0 5.625rem 0;
  color: #696969;
}

.footer a:hover {
  color: #0949d1;
}

.links {
  text-align: center;
  padding: 3.125rem 0 0 0;
  font-size: 0.875rem;
}

.icons ul li.class-icon {
  font-size: 1.3125rem;
  cursor: pointer;
}

.icons ul li.class-icon p {
  font-size: 0.75rem;
}

.icons ul li .unicode {
  color: #8c8c8c;
  opacity: 0.3;
  font-size: 0.75rem;
}

.iconfont {
  font-family: font-icon !important;
  font-size: 1.625rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.0125rem;
  -moz-osx-font-smoothing: grayscale;
}

.font-lg {
  font-size: 26px;
}
